*{
  margin:0px;
  padding: 0px;
}


/* main nav bar */

#main {
  font-size: 20px;
  text-decoration: none;
  width: 100vw;
  height: 60px;
  background-color: #fcf5e5;
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.nav-container a {
  margin-left: 20px;
  margin-right: 5px;
  text-decoration: none;
  color: #69626d;
  padding-right:30px;
}

/* side nav bar on blog posts */
#side{
  width:250px;
  background-color:transparent;
  position:fixed;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:50px 0px;
  margin-left:30px;
  list-style-type:none;
  color:#69626D;
  text-align:center;
  display:block;
  font-size:20px;
}

#side a{
  text-decoration:dotted;
  color:#69626D;
  
}

#side li{
  padding-top:10px; 
  text-decoration-style: wavy;
}

/* blogpost body */

.blogpage-wrapper{
  background-color:#F2D0D0;
  width:100vw;
  height:1500px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.blogpage-body{
  margin-top:50px;
  width:600px;
  font-size:20px;
  height:100%;
  
}
.blogpage-content{
  /* padding-top:80px; */
  display:flex;
  justify-content:flex-end;
  align-items:center;
  margin-top:80px;

}

.blogpage-content h1{
  color:black;
  text-align:center
  
}
.blogpost-1 img{
    display:flex;
  justify-content:center;
  align-items:center;
}

.words p {
  text-align:center;
  font-size: 

}
/* blogpost date */
#date {
  text-align:center;
  font-size: 15px;
  color:#6D454C;
  padding-bottom:25px;

}

.footer{
  height:30px;
  background: #ECEBE4;
  text-align:Center;
}