*{
  margin:0px;
  padding: 0px;
}


/* main nav bar */

#main {
  font-size: 20px;
  text-decoration: none;
  width: 100vw;
  height: 60px;
  background-color: #fcf5e5;
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}
nav .nav-dropdown{
  display:none

}
.nav-container a {
  margin-left: 20px;
  margin-right: 5px;
  text-decoration: none;
  color: #69626d;
  padding-right:30px;
}

/* side nav bar on blog posts */
#side{
  width:250px;
  background-color:transparent;
  position:fixed;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:50px 0px;
  margin-left:30px;
  list-style:none;
  color:#69626D;
  text-align:center;
  display:block;
  font-size:20px;
}

#side a{
  text-decoration:dotted;
  color:#69626D;
  
}

#side li{
  padding-top:10px; 
  text-decoration-style: wavy;
}
#side ul{
  list-style:none;
}
/* blogpost body */

.blogpage-wrapper{
  background-color:#F2D0D0;
  width:100vw;
  height:1500px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.blogpage-body{
  margin-top:50px;
  width:600px;
  font-size:20px;
  height:100%;
  
}
.blogpage-content{
  /* padding-top:80px; */
  display:flex;
  justify-content:flex-end;
  align-items:center;
  margin-top:80px;

}

.blogpage-content h1{
  color:black;
  text-align:center
  
}
.blogpost-1 img{
    display:flex;
  justify-content:center;
  align-items:center;
}

.words p {
  text-align:center;
  font-size: 

}
/* blogpost date */
#date {
  text-align:center;
  font-size: 15px;
  color:#6D454C;
  padding-bottom:25px;

}

.footer{
  height:30px;
  background: #ECEBE4;
  text-align:Center;
}

/* media query */
@media only screen and (max-width:480px) {

  #main {
    height:140px;
  }

  #side {
    width:auto;
    flex-flow:wrap;
    position:static;
    margin-top:75px;
    text-align:center;
    display:grid;
    margin-left:0px;
    
  }
  #side li {
    display:inline-block;
    
  }

nav .nav-dropdown{
  list-style-type: none;
  text-decoration:none;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

nav{
  height:150px;
  position:relative;    
  display:flex;
  flex-direction:column;
  display:block;


} 

nav .nav-dropdown a{
  text-decoration:none;
  color:black;


}
nav .nav-container{
  display:none;
}

.blogpage-body{
  width:50vw;
}
.blogpage-wrapper{
  display:flex;
  flex-direction:column;
}

.blogpage-content{
  margin-top:0px;
}
.blogpage-content img{
  height:60%;
  width:70%;
  display:flex;
  justify-content: center;
  margin:none;
}
.words{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
