* {
  margin: 0px;
  padding: 0px;
}
body {
  
}

nav {
  font-size: 20px;
  text-decoration: none;
  width: 100vw;
  height: 60px;
  background-color: #fcf5e5;
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  
}

nav .nav-dropdown{
  display:none

}
.nav-container a {
  margin-left: 20px;
  margin-right: 5px;
  text-decoration: none;
  color: #69626d;
  padding-right:30px;
  font-style: bold;
}


.homepage-wrapper {
  width: 100vw;
  height: 1000px;
  background: rgba(225, 173, 157);
}

.homepage-content {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50vw;
  margin: 0 auto;
  padding-top: 120px;
  flex-direction: column;
  font: black;

}
.homepage-content a{
  text-decoration:underline;
  color:black;
  
}
.homepage-content h1 {
  font-size: 100px;
  font-style:italic;
}

.homepage-content p {
  font-size: 30px;
}
.about-me-wrapper {
  width: 100vw;
  height: 1000px;
  background-color: #f2d0d0;
  display:flex;
  justify-content:center;
  align-items:center;
  
}
/* about me, talk about work and hobbies */
.about-me-content {
  font-size: 30px;
  width: 30vw;
  padding-top: 120px;
  font: black;
}
.about-me-content p {
 padding:10px;
}
.about-me-content a {
 text-decoration-style: underline;
 color:black;
}

#profile-pic {
  padding-top:50px;
  height:40%;
  width: 30%; 
  margin-left:30px;
  box-shadow: 35px 48px 0px 0px rgba(255,214,53,1);
}


.currently {
  font-size: 30px;
}
.previously {
  font-size: 30px;
}

/* current skills */
.skills-container {
  width: 100vw;
  height: 1000px;
  background-color: #f1dac4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-skills h3{
  font-size: 50px;
}


.current-skills {
display:flex;
justify-content: center;
align-items:center;
flex-direction:column;
font-size:15px;
margin-top:20px;
}

/* blog */
.blogpost-container {
  width: 100vw;
  height: 1000px;
  background-color: #f2d0d0;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
}
.blogpost{
  display:flex;
  align-items:center;
  justify-content: center;
 
}
.blog-content {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction:column;
  width:100% ;
}

.blog-content h1{
  margin-bottom:20px;
  font-size:20px;
  display:flex;
  justify-content:center;
  align-items:center;

}
.blog-content img{
  height: 500px;
  /* width:50%; */
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:20px;
}

.btn{
  text-decoration:underline;
  color:black;
  font-size:20px;
  font-style: italic;
}

/* contact form header */
.contact-me {
  width: 100vw;
  height: 1000px;
  background-color: #EEE5E5;
  display: flex;
  justify-content: center;
  align-items: center; 
  
}
.contact-title{
  display:flex;
  justify-content:center;
  align-items: center;
  display:inline;
  margin-left:10px;
}



/* contact form fill in */
form {
  display:flex;
  flex-direction:column;
  width: 500px;
  font-family: 'Times New Roman', Times, serif;
  
}

.submit{
  display:flex;
  flex-direction:column;
  width: 500px;
}

#name, #email-address, #subject, #message{
  height:60px;
  margin:10px;
  background-color:transparent;
  border:0;
  border-bottom:3px solid #9B7874;
  padding-bottom:10px;
  outline:0;
  font-size:15px;
  font-family: 'Times New Roman', Times, serif;
  
}

#message{
  height:240px;
  
}

#submit{
  background:none;
  border:none;
  font-size:20px;
  color:black;
  padding:15px;
  font-style:italic;
  font-family: 'Times New Roman', Times, serif;
}

/* footer */
.footer{
  height:30px;
  background: #ECEBE4;
  text-align:Center;
}

/* media query for html page */
@media only screen and (max-width:480px) {
nav .nav-dropdown{
  list-style-type: none;
  text-decoration:none;
      display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  

}
nav{
  height:150px;
  position:relative;    
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

} 

nav .nav-dropdown a{
  text-decoration:none;
  color:black;


}
nav .nav-container{
  display:none;
}
.homepage-content {
  padding-top:200px;
}
.about-me-wrapper {
  display:flex;
  flex-direction:column;
}
#profile-pic {
  width: 50%;
  height:30%;
  box-shadow:none;
}
.about-me-content {
  font-size:15px;
}

.current-skills h3 {
  font-size:25px;
  
}

.current-skills{
  font-size:15px;
  
}

form {
  width:250px;
}

.submit {
  width:250px;
}


