* {
  margin: 0px;
  padding: 0px;
}
body {
}

nav {
  font-size: 25px;
  text-decoration: none;
  width: 100vw;
  height: 80px;
  background-color: #fcf5e5;
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.nav-container a {
  margin-left: 20px;
  margin-right: 5px;
  text-decoration: none;
  color: #69626d;
}

.homepage-wrapper {
  width: 100vw;
  height: 1000px;
  background: rgba(225, 173, 157);
}

.homepage-content {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50vw;
  margin: 0 auto;
  padding-top: 120px;
  flex-direction: column;
  font: black;
}

h1 {
  font-size: 100px;
}

.homepage-content p {
  font-size: 30px;
}
.about-me-wrapper {
  width: 100vw;
  height: 1000px;
  background-color: #f2d0d0;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:-1
  
}

.about-me-content {
  font-size: 30px;
  width: 30vw;
  padding-top: 120px;
  font: black;
  position:relative;
}
.profile-pic {
  height:500px;
  width: 400px;
  position:relative;
  z-index:1000;
  
}
.currently {
  font-size: 30px;
}
.previously {
  font-size: 30px;
}

.skills-container {
  width: 100vw;
  height: 1000px;
  background-color: #f1dac4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogpost-container {
  width: 100vw;
  height: 1000px;
  background-color: #f2d0d0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.blog-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.blogpost-1 img {
  height: 500px;
  width: 450px;
  margin-right: 30px;
}

.blogpost-2 img {
  height: 500px;
  width: 450px;
  margin-right: 30px;
}

.blogpost-3 img {
  height: 500px;
  width: 450px;
}

.button{
  display:flex;
  align-items: center;
  justify-content: center;
}

.contact-me {
  width: 100vw;
  height: 1000px;
  background-color: rgba(225, 173, 157);
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-skills h3{
  font-size: 50px;
}

.current-skills {
display:flex;
justify-content: center;
align-items:center;
flex-direction:column;
}